<!doctype html>
<html lang="ja">
    <head>
        <title>{{title}}</title>
        <meta charset="utf-8">
    </head>
    <body>
        <h2>{{title}}</h2>
        <p>{{filename}}</p>
        <table border>
            <tr>
                <th>tantou</th>
                {% for item in table_data.columns %}
                    <th>{{item[1]}}</th>
                {% endfor %}
            </tr>
            {% for row_data in table_data.values %}
            <tr>
                <td>{{table_data.index[loop.index-1]}}</td>
                {% for item in row_data %}
                    <td>{{item}}</td>
                {% endfor %}
            </tr>
            {% endfor %}

        </table> 

        トップに<a href="/">戻る</a>
    </body>
</html>