<!-- ex0602-top.html -->
<!doctype html>
<html lang="ja">
    <head>
        <title>{{title}}</title>
        <meta charset="utf-8">
    </head>
    <body>
        <h2>{{title}}</h2>
        <a href="/total1" >全研究室の注文総額を表示する</a>
        <hr>
<!--フォームを作成 Radioボタンは自動的に作成 -->
        研究室ごとの注文明細を表示する
        <form action="/total2" method="post">
        {% for item in table_data['cname'] %}
            {% if loop.index == 1 %}
            <input type="radio" name="cname" value="{{item}}" checked>
            {% else %}
            <input type="radio" name="cname" value="{{item}}">
            {% endif %}
            {{item}}
        {% endfor %}
        <br>
        <input type="submit" value="集計">
        <input type="reset" value="リセット">
        preタグで表示する場合
        <input type="checkbox" name="flag">
        </form>
        


    </body>
</html>