<!-- pr0401-top.html -->
<!doctype html>
<html lang="ja">
    <head>
        <title>{{title}}</title>
        <meta charset="utf-8">
    </head>
    <body>
        <h2>{{title}}</h2>
        都道府県名
        {% set ns = namespace(flag = 0) %}
        <form action="/search" method="post">
            {% for item in table_data['prefecture'].values %}
                {% if ns.flag == 0 %}
                    <input type="radio" name="prefecture" value={{item}} checked>{{item}}
                    {%set ns.flag = ns.flag + 1 %}
                {% else %}
                    <input type="radio" name="prefecture" value={{item}}>{{item}}
                {% endif %}
            {% endfor %}
            <br>
            <input type="submit" value="検索">
            <input type="reset" value="リセット">
        </form>            
    </body>
</html>