<!-- ex0701-top.html -->
<!doctype html>
<html lang="ja">
    <head>
        <title>{{title}}</title>
        <meta charset="utf-8">
    </head>
    <body>
        <h2>{{title}}</h2>
        <ol>
            <li>学籍の管理</li>
            <ul>
                <li><a href="/ga_insert1">学生の追加</a></li>
                <li><a href="/ga_update1">学生の修正</a></li>
            </ul>

            <li>試験結果の管理</li>
            <ul>
                <li><a href="/se_insert1">試験結果の新規入力</a></li>
                <li><a href="/se_update1">試験結果の修正</a></li>
            </ul>
            <li>試験結果の表示</li>
            <ul>
                <li><a href="/a_gaku1">学生×科目の2元表で表示</a></li>
                <li><a href="/a_gaku2">2019年度の学生×科目の2元表で表示</a></li>
                <li><a href="/a_gaku3">年度を選択して学生×科目の2元表で表示</a></li>
                <li><a href="/a_gaku4">学生を選択して年度×科目の2元表で表示</a></li>
            </ul>
        </ol>
    </body>
</html>