<!-- ex0701-ga_update1_form.html -->
<!doctype html>
<html lang="ja">
    <head>
        <title>{{title}}</title>
        <meta charset="utf-8">
    </head>
    <body>
        <h2>{{title}}</h2>
        <table border>
            <!-- テーブルの表題をcolumns属性をつかい表示する -->
            <tr>
                <th>ボタン</th>  <!--テーブルだけの場合と違うところ-->
                {% for item in table_data.columns %}
                    <th>{{item}}</th>
                {% endfor %}
            </tr>
            <!--レコードを1行ずつ表示する-->
            {% for row_data in table_data.values %}
            <tr>
                <!-- 次のtdがボタンを表示している-->
                <td>
                    <!--外見上はボタンだけのフォーム-->
                    <form action="/ga_update2" method="post">
                        <input type="hidden" name="gakusekiID" value = "{{row_data[0]}}">
                        <input type="submit" value = "更新">
                    </form>
                </td>
                <!-- カラムの数だけ繰り返し処理 -->
                {% for item in row_data %}
                    <td>{{item}}</td>
                {% endfor %}
            </tr>
            {% endfor %}
        </table>
        </body>
    </body>
</html>