<!-- ex0701-a_gaku3_form.html -->
<!doctype html>
<html lang="ja">
    <head>
        <title>{{title}}</title>
        <meta charset="utf-8">
    </head>
    <body>
        <h2>{{title}}</h2>
            <form action="/a_gaku3_2" method="POST">
                年度を選択してください
                <!--seasonを選択するSELECTボックス-->
                <select name="season">
                    {% for row_data in select_data.values %}
                        <option value="{{row_data[1]}}">{{row_data[0]}}年度</option>
                    {% endfor %}
                </select>
                <input type="submit" value="選択">
                <input type="reset" value="Reset">
            </form>
    </body>
</html>