@charset "utf-8";

.school {
  width: 50px;
}

#health {
  display: flex;
}

table {
  background-color: white;
  width: 150px;
  flex-shrink: 0;
}

th {
  height: 28px;
  width: 136px;
}

.code {
  width: 50px;
}

.name {
  width: 80px;
}

tr {
  display: table;
}
