<!doctype html>
<html lang="ja">
    <head>
        <title>{{title}}</title>
        <meta charset="utf-8">
    </head>
    <body>
        <h2>{{title}}</h2>
        <form action="/corona1" method="POST">
            感染者or濃厚接触者<br>
            <input type="radio"name="korona"value="0">感染者
            <input type="radio"name="korona"value="1">濃厚接触者
            コロナ感染日(濃厚接触者も含む)<br>
            <input type="date" value="2020-01-01"><br>
            もし、コロナ感染者なら<br>
            病院名<input type="text" name="hospital"><br>
            <input type="reset" value="reset"> 
            <input type="submit" value="完了">
        </form>
        <pre>{{message}}</pre>
    </body>
</html>