<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{title}}</title>
</head>
<body>
    <h2>{{title}}</h2>
    <form action="" method="post">
        間柄<input type="text" name="who" placeholder = "例：友人"><br>
        人数<input type="num" name="people_num" placeholder = "同行者の人数">
        内同大学<input type="num" name="num" placeholder = "同行者のうち同大学の者の人数">
        終了時間<input type="time" name="end"><br>
        備考<input type="text" name="location" placeholder = "例：お互いマスクせず">
        <br><input type="submit" value="提出">
        <input type="reset" value="リセット">
    </form>
</body>
</html>