<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{title}}</title>
    <link rel="stylesheet" href="styles/style.css">
</head>
<body>
    <h1>{{title}}</h1>
    <div id="loginbox">
        {{msg}}
        <form action="/login1" method="post">
            <div id="acoutn">
            Client Code<input type="text" name="clientcode">
            <br>
            PassWord<input type="text" name="pass">
            <br><br>
            <input type="submit" value="ログイン">
            </div>
        </form>
    </div>
</body>
</html>