<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{title}}</title>
    <link rel="stylesheet" href="{{url_for('static', filename='styles/manage_list.css')}}">
</head>
<body>
    <h1>{{title}}</h1>
    <table border>
    <!--ヘッダ情報とレコードを表示-->
        <tr>
        <!--ヘッダ-->
        {% for column in column_list %}
            {% if column in ("区分", "部類", "年齢", "性別") %}
            <th class="school">{{column}}</th>
            {% else %}
            <th>{{column}}</th>
            {% endif %}
        {% endfor %}
        </tr>
        <!--レコード-->
        {% for row_data in table_data.values %}
            <tr>
            {% for item in row_data %}
            <td>{{item}}</td>
            {% endfor %}
            </tr>
        {% endfor %}
    </table>
    管理者メニューに<a href="/manage">戻る</a>
</body>
</html>