<!doctype html>
<html lang="ja">
    <head>
        <title>{{title}}</title>
        <meta charset="utf-8">
    </head>
    <body>
        <h2>{{title}}</h2>
        <ul>
            <li><a href="/manage/table">関係者情報一覧</a></li>
            <li><a href="/manage/insert">関係者情報追加(個人)</a></li>
            <li><a href="/manage/insert_files">関係者情報追加(一括)</a></li>
            <li><a href="/manage/update">関係者情報編集</a></li>
            <li><a href="/manage/delete">関係者情報削除</a></li>
            <li><a href="/manage/kirokunasi">3日以上連続記録なし</a></li>
            <li><a href="/manage/kaityou">37.5度以上or5個チェックの人</a></li>
            <li><a href="/manage/korona">コロナ感染者</a></li>
            <li><a href="/manage/noukousessyoku">濃厚接触者</a></li>
        </ul>
            <br>
            トップに<a href="/">戻る</a>
    </body>
</html>