<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{title}}</title>
    <link rel="stylesheet" href="{{url_for('static', filename='styles/manage.css')}}">
</head>
<body>
    <h2>{{title}}</h2>
    <form action="/manage/upload_csv" method="POST" enctype="multipart/form-data">
            csvファイルの指定<br>
            <input type="file" name="upfile"><br>
            <strong>※ファイルの先頭行に次のヘッダーを入れてください</strong><br>
            [schoolID, clientcode, pass, namae, age, gender, phone, email, faculty]<br>
            <input type="submit" value="追加">
          <a href="/manage"><input type="button" value="戻る"></a>
    </form>
</body>
</html>