<!DOCTYPE html>
<html lang="ja">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{{title}}</title>
        <link rel="stylesheet" href="{{url_for('static',filename='styles/manage_table.css')}}">
    </head>
    <body>
        <h1>{{title}}</h1>
        <!--健康状態を確認する時に実行-->        
        <div id="health">
            {% for day in week %}
                <table class="list" border>
                <tr>
                    <th>{{day}}</th>
                </tr>
                <tr>
                <!--ヘッダ-->
                {% for column in column_list %}
                    {% if column == "CODE" %}
                    <th class="code">{{column}}</th>
                    {% else %}
                    <th class="name">{{column}}</th>
                    {% endif %}
                {% endfor %}
                </tr>
                <!--レコード-->
                {% for row_data in table_data[loop.index0].values %}
                    <tr>
                    {% for item in row_data %}
                    {% if loop.index0 == 0 %}
                        <td class="code">{{item}}</td>
                    {% else %}
                        <td class="name">{{item}}</td>
                    {% endif %}
                    {% endfor %}
                    </tr>
                {% endfor %}
            {% endfor %}
            </table>
        </div>
        管理者メニューに<a href="/manage">戻る</a>
    </body>
</html>