<!doctype html>
<html lang="ja">
    <head>
        <title>{{title}}</title>
        <meta charset="utf-8">
    </head>
    <body>
        <h2>{{title}}</h2>
        <table border>
            <!-- テーブルの表題をcolumns属性をつかい表示する -->
            <tr>
                <th>ボタン</th>  <!--テーブルだけの場合と違うところ-->
                <th>行動日</th>
                <th>開始時間</th>
                <th>終了時間</th>
                <th>行き先</th>
                <th>移動方法</th>
                <th>出発地</th>
                <th>目的地</th>
                <th>同行者</th>
                <th>間柄</th>
                <th>人数</th>
                <th>備考</th>
                <th>最終更新日</th>
            </tr>
            <!--レコードを1行ずつ表示する-->
            {% for row_data in table_data.values %}
            <tr>
                <!-- 次のtdがボタンを表示している-->
                <td>
                    <!--外見上はボタンだけのフォーム-->
                    <form action="/update1" method="post">
                        <input type = "hidden" name = "koudouID" value = "{{row_data[0]}}">
                        <input type = "submit" value = "edit">
                    </form>

                </td>
                <!-- カラムの数だけ繰り返し処理 -->
                {% for item in row_data %}
                    {% if item.colum != 'uriageID' %}
                        <td>{{item}}</td>
                    {% endif %}
                {% endfor %}
            </tr>
            {% endfor %}
        </table>
        </body>
    </body>
</html>