<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{title}}</title>
    <link rel="stylesheet" href="{{url_for('static',filename='styles/style.css')}}">
</head>
<body>
<h2>{{title}}</h2>
<ul>
    <li><a href="/kenkou">健康記録</a></li>
    <li><a href="/koudou">行動記録</a></li>
    <li><a href="/update_koudou">行動記録一覧</a></li>
    <li><a href="/update_kansatu">健康記録一覧</a></li>
    <li><a href="/infect_corona">コロナ感染記録</a></li>
</ul><br>

<br>
{% if not school < 7 %}
    管理者メニューに<a href="/manage">移動</a><br><br>
{% endif %}
<a href="/logout">Logout</a>
</body>
</html>