tr {
    display: table;
    width: 305px;
}

th {
    width: 65px;
}

.stext{
    width: 60px;
}

select {
    width: 75px;
}

input {
    box-sizing: border-box;
    width: 100%;
}

input.btn{
    width: 10%;
    text-align: center
}

.gender {
    width: min-content;
}