@charset "utf-8";

table{
    background-color: white;
}

tr {
    display: table;
    width: 305px;
}

th {
    width: 65px;
}

.stext{
    width: 60px;
}

select {
    width: 75px;
}

input {
    box-sizing: border-box;
    width: 100%;
}

input.btn{
    width: 50px;
    text-align: center;
    margin: 5px;
}

.setBtn{
    display: flex;
    width: 10%;
}

.gender {
    width: min-content;
}